extends ./layout
block content
  h1
    a(href=link)!= title
  hr
  h2 #{price}$
  hr
  a(href="https://www.google.ca/maps/@#{lat},#{lng},16z")
    span(style="font-size:45px").glyphicon.glyphicon-map-marker.vertical-align-middle
    h4.vertical-align-middle!=address
  hr
  p!= description
  for image in images
    img(src=image).img-responsive.img-rounded
    br